<div class="game-container">
  <div class="title-container">
    <h1>Result</h1>
  </div>
  <div class="result-container">
    <%= @score %>
  </div>
  <div class="">
    <%= link_to 'Play again', new_path, class: "btn btn-light" %>
  </div>
</div>
